  
@media (max-width: 768px) {
  .btn-responsive {
    padding:5px 4px;
    font-size:90%;
    line-height: 1;
    border-radius:3px;
  }
    h4,.panel-title,.form-control,.dropdown-menu-sort,.text-small{
    font-size:80% !important;
    }
    body {
    font-size:100%;
    }
    .well-sortResult,.HotelDescriotion{
    padding:0 !important
    }
    .img_result {
        width:60px !important;
        height:60px !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:5px 9px;
    font-size:90%;
    line-height: 1.2;
  }
    h4 {
    font-size:100%;
    }
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.user-content {
    padding:0;
    background-color:#eef1f8 !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-small {
    font-size:9pt;
    font-weight:normal;
}
.text-black {
    color:#111;
}

.nopadding {
   padding: 0 !important;
}
.nopadding_left {
   padding-left: 0 !important;
}
.nopadding_right {
   padding-right: 0 !important;
}
.top-buffer20 { margin-top:20px; }
.top-buffer10 { margin-top:10px; }
.top-buffer100{ margin-top:100px; }
/************************* Slider *************************/
#home {
 width:100%;
}
#fullscreenslider {
  text-align: center;
}

#fullscreenslider .carousel-caption {
  top:0;  
}

#fullscreenslider .carousel-caption .border{
  margin-top: 35px;
  margin-bottom: 30px;
}

#fullscreenslider h1 {
  text-align: left;
  color:#111;
  font-weight:600;
  margin:10px 0 0 -30px;
  font-family:'Times New Roman'
}

#fullscreenslider h2 {
  color: #111;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
    margin:10px 0 0 -30px;
  line-height: 1.5;
  font-family:'Times New Roman'

}


#home #fullscreenslider .carousel-indicators {
  top:80%;
}

#home #fullscreenslider .carousel-control.right{
  right:0;
  top: 45%;
  z-index: 99999999;
  background:none !important;

}

#home #fullscreenslider .carousel-control.left{
  left: 0;
  top: 45%;
  z-index: 99999999;
  background:none !important;
}

.carousel-fade .item {
  opacity: 0.3;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  left: 0 !important;
}

.carousel-fade .active {
  opacity: 1 !important;
}

.carousel-fade .left {
  opacity: 0.8 !important;
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important;
}

.carousel-fade .carousel-control {
  opacity: 1 !important;
}

/*Buttons*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border-width:1.5px;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.btn-review:hover {
background-color:transparent;
color:#0c8ecf;
border-width:1.5px;
border-color:#0c8ecf;
}

/* NavBar*/
.navbar-inverse {
    background-color:#133d5f;
    z-index:111;
}
.navbar-brand {
    margin:0;
    padding:0px 0px 0px 15px;
}
.navbar-brand h4 {
    color:#ffc60b;
    margin-top:10%;
    font-size:18pt;
    font-family:Adobe Heiti Std;

    }
.navbar-text,.navbar-text:hover {
cursor:pointer;
    text-decoration:none;
}
.navbar-header {
height:55px;
}
/***ICONS*/

.fa-plus-circle {
color:#15ad44
}
.fa-minus-circle {
color:#eb0c0c
}
.fa-blue {
    color:#0770a4
}
.fa-lock {
margin-left:10px;
cursor:pointer;
}

.fa-star-search {
color:#fbca0d;
margin-right:2px;
}
.fa-star-sort {
color:#111;
}
.fa-circle {
    color:#0c8ecf;
    -webkit-text-stroke-color: #0c8ecf ;
}
.fa-circle-thin {
    color: #0c8ecf;
}
.fa-circle-thin-yellow {
    color: #f6c12e;
}
.fa-circle-thin-red {
    color: #ac895a;
}
.fa-circle-red {
    color: #ac895a;
    -webkit-text-stroke-color: #ac895a !important;
}
.fa-circle-yellow {
     color:#f6c12e;
    -webkit-text-stroke-color: #f6c12e !important ;
}
.fa-check-square-o {
color:#0770a4
}
.fa-ban {
color:#d70707
}

.fa-heart-red {
    color: #d9534f !important;
}
.fa-star-yellow{
    color: #f6b54d !important;
}
.fa-pencil {
    color: #3999ed !important;
}
/***MODAL*****/
.modal-header-login{
     height:40px;
	color:#6e97ab;
    padding:8px;
    border-bottom:1px solid #eee;
    background-color: #d9edf7;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-content {
    border: 2px solid #6793a9;
  border-radius: 4px;
}

/****FORms****/
.form-horizontal .control-label {
    font-size:10pt;
    font-weight:normal;
    margin:0;
    padding-top:5px;
    text-align:left;
}
.text-danger {
font-size:90%;
}


/****************SEARCH****************/
#searchbar {
    color: #6e97ab;
    border: 1px solid #66cccc;
    background-color: #c6e2ff;
    height: 70px;
    margin-top: 1%;
    box-shadow:rgba(0, 0, 0, 0.2) 5px 5px 5px 0;
}
.highlight_search {
    font-weight: bold;
    color: #3399ff;
}
#search_destination {
max-width:100%;
width:100%;
border-bottom-right-radius:0px;
    border-top-right-radius:0px;
}

.btn_search {
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    width:100px;
    background:#428bca;
    font-weight:bold;
    color:#fff;
}

/*************ADVANCED SEARCH*****************/
.advanced_search {
    height:100%;
    background-color:#f2f1f1
}
.divider_search {
background:#e6e0e0;
height:1px;
margin:10px 0 10px 0;

}

.slider-track {
    background:#dff5f5 !important;

}
.slider-selection{
    background:#66cccc !important;
}

.slider_score {
    float:right;
}
.slider-value-label {
    font-size:14pt; 
    font-weight:bold;
    color:#022984;
    margin-left:1%;
    float:right
}
.checkbox:hover {
background:#dedede;
cursor:pointer;
}

.well_noResult{
    background-color:#fff9e6 !important;
    border:1px solid #ac9f72;
    color:#635629;
}


.btn-sort {
    /*width:120px;*/
    background-color:#fdf7d9;
    color:#323232;
    border-color:#aa6b11;
}
.btn-sort:hover{
    background-color:#fcf2c3;
}
.dropdown-menu-sort {
    text-align:center;
    width:100%;
}

.dropdown-menu-sort li a:hover {
    background-color:#fdf7d9;

}
.well-sortResult {
    background-image: linear-gradient(to top right, #f6b54d, #f7d9a8);
      /*background-image: linear-gradient(to top right, #f2bc15, #f7d9a8);*/
    border: 1px solid #e7a132;
    color: #fff;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height:62px;
    padding:15px 5px 5px 15px;

}
.well-sort-title {
    background-color: #f0ad4e;
    border: 1px solid #e7a132;
    color: #fff;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height:62px;
    padding:17px 0 0 5px;
    text-align:center;

}
.well-result {
height:215px;
overflow-y:auto;
overflow-x:hidden;
}
.well-result:hover,.well-reviewList:hover{
box-shadow:#c6c2c2 5px  5px 5px 0px;
background-color:#fbf4eb;
}
.well-wishlist {
height:380px;
}

.well-rating {
height:420px;
}
.img_result {
width:200px;
height:160px;
border-radius:3px;
}
.well-review {
    background-color: #eef1f8 !important;
    width: 100%;
    float: right;
    padding:8px 5px 3px 8px;
    margin-top:20px;
}
.well-reviewList {
background-color: #eef1f8 !important;
    width: 100%;
    float: right;
    padding:0px 0px 15px 0px;
}
.well-score {
    background-color: #eef1f8 !important;
    color: #022984 !important;
    width: 100%;
    float: right;
    padding: 5px 8px 15px 8px;
}
.well-compare {
    background-color: #fcf9ed;
    border-color: #fcdcb1;
    width: 100%;
    float: right;
    padding: 5px 8px 15px 8px;
    color: #aa6b11 !important;
    min-height:980px;
}
.img_review {
width:170px;
height:110px;
}

.img-wishlist {
width:290px;
height:200px;
}

/**********AUTO Compelete*/

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.ui-menu-item:hover{
text-decoration: none;
display: block;
padding: .2em .4em;
line-height: 1.5;
zoom: 1;
background-color:#e7f5f5;
color:#111;
}

.ui-menu .ui-menu-item a {
    background:none;
    border:none;
    color:#111;
}

/***********Photo Slider Hotel Details*/
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.accordion-toggle:hover,.accordion-toggle:focus{
    text-decoration:none;
}

/**************Rating **************/
.clear-rating:hover{
    color:#d9534f !important;
}

.fa-yourrating {
color:#f2bc15 !important;
-webkit-text-stroke-color: #f2bc15 ;
}

.fa-yourrating-review{
color:#0770a4 !important;
-webkit-text-stroke-color: #0770a4 ;
}

.box-primary {
    border:2px solid #0770a4; 
    border-radius:5px; 
    padding:20px 5px 20px 5px;
}
.box-warning {
    border:2px solid #f0ad4e; 
    border-radius:5px; 
    padding:20px 5px 20px 5px;
}
#lbl_rating {
    color:#d9534f
}
/**************City SideBar*/
.panel-city .panel-heading {
      /*background-image: linear-gradient(to top right, #f2bc15, #f7d9a8);*/
    background-image: linear-gradient(to top right, #f6b54d, #f7d9a8);

}
.panel-city .panel-title {
      font-size:11pt;
      font-weight:bold;
      color:#fff;

}
.panel-city {
    border-color:#f6b54d !important;
}
.panel-city .list-group-item {
      background-color:#fdf7d9;
    border-color: #fcdcb1;
      
}
.panel-city .list-group-item:hover{
     color: #000;
      background-image:none;
    background-color: #fcf2c3 !important ;
    border-color: #f0ad4e;
}
.panel-city .list-group-item a
{
  text-decoration:none;
  color:#b68c51;
  font-weight:bold;
}
.badge-city {
  padding:7px;
  border-radius: 10em;
  color:#fff;
  background-color:#f0ad4e;
  width:25px;
  height:25px;  
}

.badge-review {
  padding:5px;
  border-radius:5px 0px;
  color:#fff;
  background-color:#f6ce2e;
  width:27px;
  height:23px;  
}

.badge-total-score{
  padding:10px 5px 5px 5px;
  margin:15px 0 5px 0;
  border-radius:5px 0px;
  color:#fff;
  background-color:#f6ce2e;
  width:70px;
  height:65px;  
  font-size:32pt;
}

.label {
  font-size:10pt;
  padding:8px 5px 8px 5px;
  margin:10px 0 20px 0;
}
.label-score {
    background-color:#022984
}

.label-review {
    background-color:#022984;
    padding-left:10px !important;
    margin:0;
    border-radius:0;
    text-align:left
}
.form-control{
    min-width:100% !important;
}