@using HotelAdvice.Areas.WebSite.ViewModels;
@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<AddReviewViewModel>
@{
    Layout = null;
}

<div class="col-sx-12 nopadding">

    @foreach (var item in Model)
    {
        <div class="col-sx-2 nopadding">
           
        </div>
    }
</div>
