@model HotelAdvice.Areas.WebSite.ViewModels.UserPageViewModel
@{
    ViewBag.Title = "Profile Page";
    Layout = "~/Areas/WebSite/Views/User/_LayoutUser.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 top-buffer20">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active li-wishlist">
                            <a href="#tab_wish_list" data-toggle="tab">
                                <i class="fa fa-heart fa-lg fa-heart-red "></i>
                                Your Wish List
                            </a>
                        </li>
                        <li class="li-rating">
                            <a href="#tab_rating" data-toggle="tab">
                                <i class="fa fa-star fa-lg fa-star-yellow "></i>
                                Your Hotel Rating
                            </a>
                        </li>
                        <li class="li-review">
                            <a href="#tab_review" data-toggle="tab">
                                <i class="fa fa-star fa-lg fa-pencil "></i>
                                Your Hotel Reviews
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active animated fadeInUpBig" id="tab_wish_list">

                            @{Html.RenderPartial("_PartialWishList", Model.lst_wishList);}
                        </div>
                        <div class="tab-pane animated fadeInLeftBig" id="tab_rating">
                            @{Html.RenderPartial("_PartialRatingList", Model.lst_rating);}
                        </div>
                        <div class="tab-pane animated fadeInRightBig" id="tab_review">
                            @{Html.RenderPartial("_PartialYourReviewList", Model.lst_reviews);}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Review-->
<div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" id="modal_review_main">
    <div class="modal-dialog">
        <div class="modal-content modal-content-review">

            <div class="modal-header modal-header-review">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-pencil"></span> Edit Your Review
                </h4>
            </div>
            <div class="modal-body" id="modal_review">


            </div><div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- END Modal Edit Review-->

<!-- Modal Delete Review-->
<div id="DeleteModalReview"></div>
<!-- END Modal Delete Review-->
