@using HotelAdvice.Areas.WebSite.ViewModels;
@model ReviewPageViewModel
@{
    ViewBag.Title = "Hotel Reviews";
    Layout = "~/Areas/WebSite/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12">
    @{Html.RenderPartial("_PartialHotelPropertiesReview", Model.hotel_properties);}
</div>
<div class="col-xs-12" >

    <div class="col-sm-3 col-xs-12 nopadding">
        @{Html.RenderPartial("_PartialScoreReview", Model.hotel_scores);}
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="col-xs-8 nopadding">
            <h4 style="font-weight:bold" class="text-primary">
                @Html.DisplayFor(model => model.hotel_properties.num_reviews) Reviews from our Community
            </h4>
        </div>
        <div class="col-xs-4 nopadding text-right">

            @Html.BootstrapButton("Write Your Review <i class='glyphicon glyphicon-pencil'></i>", "btn btn-primary btn-responsive"
                     , "btn_open_review")
        </div>

        <!--Add REview Panel-->
        <div class="col-xs-12 nopadding top-buffer20">
            <div class="alert alert-success" role="alert" id="review_alert" style="display:none;">
                <a href="#" id="close_alert_review" class="close">&times;</a>
                Thank you! Your review saved successfully.
            </div>
        </div>

        <div class="col-xs-12 nopadding">


            <div class="panel panel-info nopadding" id="pnl_write_review" style="display:none">

                <div class="panel-heading">
                    <i class="fa fa-pencil-square-o fa-blue fa-lg"></i> Write a new review or Edit previous one
                    <button type="button" aria-hidden="true" class="close" id="btn_close_review">×</button>
                </div>
                <div class="panel-body nopadding_left">
                    @{Html.RenderPartial("_PartialAddReview", Model.YourReview);}
                </div>
            </div>

        </div>
                    <div id="table_review">
                        @{Html.RenderPartial("_PartialHotelReviewList", Model.lst_reviews);}
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 nopadding">
                    @{Html.RenderPartial("_PartialCompareReview", Model.lst_compare_hotels);}
                </div>
            </div>
