@using HotelAdvice.Areas.WebSite.ViewModels;
@model ReviewPageViewModel
@{
    ViewBag.Title = "Hotel Reviews";
    Layout = "~/Areas/WebSite/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12">
    @{Html.RenderPartial("_PartialHotelPropertiesReview", Model.hotel_properties);}
</div>
<div class="col-xs-12" >

    <div class="col-sm-3 col-xs-12 nopadding">
        @{Html.RenderPartial("_PartialScoreReview", Model.hotel_scores);}
    </div>
    <div class="col-sm-6 col-xs-12 " >
        <div class="col-xs-8">
            <h4 style="font-weight:bold" class="text-primary">
                @Html.DisplayFor(model => model.hotel_properties.num_reviews) Reviews from our Community
            </h4>
        </div>
        <div class="col-xs-3 ">
            <button class="btn btn-primary btn-responsive " id="btn_open_review">
                Write Your Review <i class="glyphicon glyphicon-pencil"></i>
            </button>

        </div>
       
        @{Html.RenderPartial("_PartialReview", Model.YourReview);}
    </div>
    <div class="col-sm-3 col-xs-12 nopadding">
            @{Html.RenderPartial("_PartialCompareReview", Model.lst_compare_hotels);}
    </div>
</div>
