@model HotelAdvice.Areas.Admin.ViewModels.HotelViewModel

@{
    Layout = null;
}


@using (Ajax.BeginForm("Delete_Hotel", "Hotel", new AjaxOptions
{
    HttpMethod = "Post"
    ,
    OnSuccess = "Success_AjaxReturn"
    ,
    InsertionMode = InsertionMode.ReplaceWith
}))
{
    @Html.AntiForgeryToken()

    <div class="modal fade modal_main" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-trash"></span> Delete Hotel
                    </h4>
                </div>
                <div class="modal-body">
                    Are you sure to delete?
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-default">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @Html.HiddenFor(model => model.HotelId, new { id = "hd_hotel_id" })
    @Html.HiddenFor(model => model.CurrentPage)
    @Html.HiddenFor(model => model.CurrentFilter)
}


