@model HotelAdvice.Areas.Admin.ViewModels.HotelImagesViewModel
@{
    ViewBag.Title = "Hotel Images Management";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h4 class="col-sm-12">Hotel Images -@Model.HotelName</h4>



<div class="col-sm-12">
    <div class="alert alert-success" role="alert" id="div_alert" style="display:none;">
        <a href="#" id="close_alert" class="close">&times;</a>
        <label id="alert_success" style="margin-right:5px"></label>
    </div>
</div>


@using (Ajax.BeginForm("", "", null, new AjaxOptions
{
    HttpMethod = "Post"
    ,
    InsertionMode = InsertionMode.ReplaceWith

}, new { enctype = "multipart/form-data" ,id="frm_add_hotel"}))
{

    <div class="col-sm-12 top-buffer20 form-group">
      
            @Html.TextBoxFor(model => model.image, new { id = "inputimages", name = "inputimages[]", type = "file"
                                                         ,@class = "file-loading",
                                                         @placeholder = "Choose file to upload: "
       })
            <div id="errorBlock" class="help-block"></div>
        
    </div>

    <div class="col-sm-12 top-buffer20">

        @{
            if (Model.uploaded_images != null && Model.uploaded_images.Length>0)
            {
                <div class="panel panel-default">
                    <table class="table table-bordred table-hover table-condensed table-striped">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>Image Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                int i = 1;

                foreach (var item in Model.uploaded_images)
                {
                    <tr>
                        <td class="col-sm-1">@i</td>
                        <td class="col-sm-10">@item</td>
                        <td class="col-sm-1">
                            <a data-toggle="tooltip" data-url="/Admin/Hotel/Delete_HotelPhoto?photo_name=@item" title="Delete" class="glyphicon glyphicon-trash actionButton"></a>
                            <a data-toggle="tooltip" data-url="/Admin/Hotel/Show_HotelPhoto?photo_name=@item" title="Show" class="glyphicon glyphicon-search actionButton"></a>
                        </td>


                    </tr>
                    i = i + 1;
                }
                            }


                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="well well-sm top-buffer20">
                    No Image...
                </div>

            }
        }
        </div>

        @Html.HiddenFor(model => model.HotelId, new { id = "hd_hotel_id" })
}

<div id="MyModal"></div>
