@using PagedList
@model IPagedList<HotelAdvice.Areas.Admin.ViewModels.HotelViewModel>
@{
    ViewBag.Title = "Hotel Management";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="col-xs-12">Hotel List</h2>

    <div class="col-xs-12">
        <div class="alert alert-success" role="alert" id="div_alert" style="display:none;">
            <a href="#" id="close_alert" class="close">&times;</a>
            <label id="alert_success" style="margin-right:5px"></label>
        </div>
    </div>
@using (Ajax.BeginForm("Index", new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "table_container",
        InsertionMode = InsertionMode.Replace
    }))
{

    <div class="col-sm-5 col-xs-7">
        <div class="input-group">
            <input type="text" id="filter" name="filter" class="form-control" placeholder="Filter hotels..." value="@ViewBag.filter" />

            <span class="input-group-btn">
                <button class="btn btn-primary btn-responsive" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </span>
        </div>
    </div>
}
<div class="col-xs-2 col-sm-offset-5 col-xs-offset-1  text-right">
    <button type="button" class="btn btn-success" id="btn_add_new" data-url="/Admin/Hotel/ADD_New_Hotel">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
    </button>
</div>

    <div id="table_container" class="col-xs-12 top-buffer20" >
    @Html.Partial("_PartialHotelList", Model)
</div>


    <div id="MyModal"></div>
