@model HotelAdvice.Areas.HomePage.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/HomePage/Views/Shared/_Layout.cshtml";
}



     <!-- slider -->
<section id="home">
    <div id="fullscreenslider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#fullscreenslider" data-slide-to="0" class="active"></li>
            <li data-target="#fullscreenslider" data-slide-to="1"></li>
            <li data-target="#fullscreenslider" data-slide-to="2"></li>
        </ol>

        <!-- Controls -->
        <a class="left carousel-control" href="#fullscreenslider" data-slide="prev">
            <span class="fa fa-chevron-circle-left fa-2x"></span>
        </a>
        <a class="right carousel-control" href="#fullscreenslider" data-slide="next">
            <span class="fa fa-chevron-circle-right fa-2x"></span>
        </a>

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-fade">

            <!-- item 1 -->
            <div class="item active">
                <img src="~/images/slider1.jpg" alt="slider 1">
                <div class="carousel-caption animated fadeInLeft delay1">
                    <h1>SHIRAZ</h1>
                    <span class="border"></span>
                    <h2>Eram Garden </h2>
                </div>
            </div>

            <!-- item 2 -->
            <div class="item">
                <img src="~/images/slider2.jpg" alt="slider 2">
                <div class="carousel-caption animated  lightSpeedIn delay1">
                    <h1>YAZD</h1>
                    <span class="border"></span>
                    <h2>
                        City of Wind Towers
                    </h2>
                </div>
            </div>

            <!-- item 3 -->
            <div class="item">
                <img src="~/images/slider3.jpg" alt="slider 3">
                <div class="carousel-caption animated fadeInDown delay1">
                    <h1 style="color:#fff">ISFAHAN</h1>
                    <span class="border"></span>
                    <h2 style="color:#fff">Abbasi Hotel</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider -->

<!-- search bar -->
<div id="searchbar" class="well">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-1 nopadding_right">
                @Html.TextBoxFor(model => model.Destination_Name, new { @class = "form-control", @placeholder = "Find Hotel, City or Destination...", id = "txt_dest_name" })
            </div>
            <div class="col-sm-2 nopadding_left">
                <button type="submit" class="btn btn_search"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</button>
            </div>
        </div>
    </div>
</div>
<!-- end search bar -->

   

    @*Advanced Search*@
       <div class="col-sm-3 nopadding">
            @{Html.RenderPartial("_PartialAdvancedSearch", Model.Advanced_Search);}
        </div>
    @*End of Advanced Search*@
    
        <div class="col-sm-6">

        </div>

       

<div class="col-sm-3 nopadding" >
    <ul class="city_sidebar">
        @foreach (var item in Model.lst_city)
        {
            <li>
            @Html.ActionLink(item.cityName, "ShowSearchResult", "SearchHotel", new { city_id = @item.cityID }, null)
              
            </li>
        }
       
    </ul>
</div>




