@using Microsoft.AspNet.Identity
@using System.Security.Claims
@{

    Layout = null;
}



@if (Request.IsAuthenticated)
{


    //using (Ajax.BeginForm("LogOff", "Account",null
    //    , new AjaxOptions
    //    {
    //        HttpMethod = "Get"
    //        ,
    //        InsertionMode = InsertionMode.ReplaceWith
    //        ,
    //        OnSuccess = "SuccessLogOf"
    //    }
    //    , new { id = "logoutForm", @class = "navbar-right" }))
    //{
    <a class="navbar-right navbar-btn btn btn-warning " href='@Url.Action("LogOff", "Account", new { Area="Account"})'>
        <span class="glyphicon glyphicon-log-out"></span> Sign Out
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Welcome " + ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value + "!", "Index", "Manage", new { Area="Account"}, htmlAttributes: new { title = "Manage" })
        </li>
        
    </ul>

    //}
}
else
{

    @*@Html.ActionLink("Log in", "Login", "Account"
    , routeValues: new { @returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["id"]) }, htmlAttributes: new { id = "loginLink" })*@

    <a class="navbar-btn navbar-right btn btn-primary" onclick="show_login()"><i class="fa fa-lock"></i> Sign In</a>
}
