@using Microsoft.AspNet.Identity
@using System.Security.Claims
@{

    Layout = null;
}



@if (Request.IsAuthenticated)
{
        <div class="col-sm-12 pull-right top-buffer10">

            <div class="col-sm-6 nopadding top-buffer10" style="width:auto;">
                @if (User.IsInRole("PublicUser"))
                {
                @Html.ActionLink("Welcome " + ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value + "!", "Index", "User", new { Area = "Website" }, htmlAttributes: new { title = "Profile", style = " color: #fff" })
                }
                else
                {
                    @Html.ActionLink("Welcome " + ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value + "!", "Index", "Hotel", new { Area = "Admin" }, htmlAttributes: new { title = "Dashboard", style = " color: #fff" })
                }
            </div>
            <div class="col-sm-1 text-center top-buffer10">
                @if (User.IsInRole("PublicUser"))
                {
                    <a href='@Url.Action("Index","User")' title="Click to visit your wish list!" class="nopadding_left" style=" color: #fff">
                        <i class="fa fa-heart"></i>
                    </a>
                }
               
            </div>

            <div class="col-sm-2 nopadding_right">
                <a class=" btn btn-warning btn-responsive "  href='@Url.Action("LogOff", "Account", new { Area="Account"})'>
                    <span class="glyphicon glyphicon-log-out"></span> Sign Out
                </a>
            </div>
        </div>
}
else
{

        @*@Html.ActionLink("Log in", "Login", "Account"
            , routeValues: new { @returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["id"]) }, htmlAttributes: new { id = "loginLink" })*@
    <div class="col-sm-12 pull-right top-buffer10">
        <div class="col-sm-2 nopadding_right">
            <a class=" btn btn-info btn-responsive " onclick="show_login()"><i class="fa fa-lock"></i> Sign In</a>
        </div>
        </div>
        }
