@using HotelAdvice.Areas.WebSite.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/WebSite/Views/Shared/_Layout.cshtml";
}



     <!-- slider -->
<section id="home">
    <div id="fullscreenslider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#fullscreenslider" data-slide-to="0" class="active"></li>
            <li data-target="#fullscreenslider" data-slide-to="1"></li>
            <li data-target="#fullscreenslider" data-slide-to="2"></li>
        </ol>

        <!-- Controls -->
        <a class="left carousel-control" href="#fullscreenslider" data-slide="prev">
            <span class="fa fa-chevron-circle-left fa-2x"></span>
        </a>
        <a class="right carousel-control" href="#fullscreenslider" data-slide="next">
            <span class="fa fa-chevron-circle-right fa-2x"></span>
        </a>

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-fade">

            <!-- item 1 -->
            <div class="item active">
                <img src="~/images/slider1.jpg" alt="slider 1">
                <div class="carousel-caption animated fadeInLeft delay1">
                    <h1>SHIRAZ</h1>
                    <span class="border"></span>
                    <h2>Eram Garden </h2>
                </div>
            </div>

            <!-- item 2 -->
            <div class="item">
                <img src="~/images/slider2.jpg" alt="slider 2">
                <div class="carousel-caption animated  lightSpeedIn delay1">
                    <h1>YAZD</h1>
                    <span class="border"></span>
                    <h2>
                        City of Wind Towers
                    </h2>
                </div>
            </div>

            <!-- item 3 -->
            <div class="item">
                <img src="~/images/slider3.jpg" alt="slider 3">
                <div class="carousel-caption animated fadeInDown delay1">
                    <h1 style="color:#fff">ISFAHAN</h1>
                    <span class="border"></span>
                    <h2 style="color:#fff">Abbasi Hotel</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider -->

<!-- search bar -->
@{Html.RenderPartial("_PartialSearchBar",new SearchBarViewModel());}
<!-- end search bar -->

   

    @*Advanced Search*@
       <div class="col-xs-8 col-sm-3 nopadding hidden-xs">
    @{Html.RenderPartial("_PartialAdvancedSearch", Model.Advanced_Search);}
</div>
    @*End of Advanced Search*@
    
        <div class="col-xs-12 col-sm-7">

        </div>

       

<div class="col-xs-12 col-sm-2 nopadding " >
    
    <div class="panel panel-warning panel-city ">
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                Hotels in Cities
            </h3>
        </div>
        <ul class="list-group">
            @foreach (var item in Model.lst_city)
            {
                <li class="list-group-item text-center">
                    <span class="badge badge-city pull-left hidden-xs">@item.hotel_count</span>
                        @Html.ActionLink(item.cityName, "ShowSearchResult", "SearchHotel", new { cityId = @item.cityID,citySearch=true }, null)
                </li>
            }
        </ul>
    </div>
       
       
</div>




