@using HotelAdvice.Areas.WebSite.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/WebSite/Views/Shared/_Layout.cshtml";
}



     <!-- slider -->
<section id="home">
    <div id="fullscreenslider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#fullscreenslider" data-slide-to="0" class="active"></li>
            <li data-target="#fullscreenslider" data-slide-to="1"></li>
            <li data-target="#fullscreenslider" data-slide-to="2"></li>
        </ol>

        <!-- Controls -->
        <a class="left carousel-control" href="#fullscreenslider" data-slide="prev">
            <span class="fa fa-chevron-circle-left fa-2x"></span>
        </a>
        <a class="right carousel-control" href="#fullscreenslider" data-slide="next">
            <span class="fa fa-chevron-circle-right fa-2x"></span>
        </a>

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-fade">

            <!-- item 1 -->
            <div class="item active">
                <img src="~/images/slider1.jpg" alt="slider 1">
                <div class="carousel-caption animated fadeInLeft delay1">
                    <h1>SHIRAZ</h1>
                    <span class="border"></span>
                    <h2>Eram Garden </h2>
                </div>
            </div>

            <!-- item 2 -->
            <div class="item">
                <img src="~/images/slider2.jpg" alt="slider 2">
                <div class="carousel-caption animated  lightSpeedIn delay1">
                    <h1>YAZD</h1>
                    <span class="border"></span>
                    <h2>
                        City of Wind Towers
                    </h2>
                </div>
            </div>

            <!-- item 3 -->
            <div class="item">
                <img src="~/images/slider3.jpg" alt="slider 3">
                <div class="carousel-caption animated fadeInDown delay1">
                    <h1 style="color:#fff">ISFAHAN</h1>
                    <span class="border"></span>
                    <h2 style="color:#fff">Abbasi Hotel</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider -->

<!-- search bar -->
@{Html.RenderPartial("_PartialSearchBar",new SearchBarViewModel());}
<!-- end search bar -->

   

    @*Advanced Search*@
       <div class="col-xs-6 col-sm-3 nopadding">
        @{Html.RenderPartial("_PartialAdvancedSearch", Model.Advanced_Search);}
        </div>
    @*End of Advanced Search*@
    
        @*Main Tab*@
        <div class="col-xs-6 col-sm-9">
            <div class="tabHome-panel" id="tab_homePage">
                <div class="tabHome-line">
                    <ul class="nav nav-tabs ">
                        <li class="active li">
                            <a href="#tab_city_list" data-toggle="tab">
                                Hotels in Cities
                            </a>
                        </li>
                        <li>
                            <a href="#tab_popularHotels" data-toggle="tab">
                                Popular Hotels
                            </a>
                        </li>
                        <li>
                            <a href="#tab_topHotels" data-toggle="tab">
                               Top Hotels
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active animated fadeIn" id="tab_city_list">
                    @{Html.RenderPartial("_PartialCityList", Model.lst_city);}
                </div>
                <div class="tab-pane animated fadeIn" id="tab_popularHotels">
                </div>
                <div class="tab-pane animated fadeIn" id="tab_topHotels">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
       @*End of Main Tab*@



<div id="CityDescriptionModal" class="modal animated fadeInDown"  tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-header-login">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title" id="CityTitle"></div>
            </div>
            <div class="modal-body" id="CityAttractions">
            </div>

        </div>
    </div>
</div>



