@using HotelAdvice.Areas.WebSite.ViewModels
@model SearchPageViewModel

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Areas/WebSite/Views/Shared/_Layout.cshtml";
}


<!-- search bar -->
@{Html.RenderPartial("_PartialSearchBar", new SearchBarViewModel());}
<!-- end search bar -->


@*Advanced Search*@
<div class="col-xs-6 col-sm-3 nopadding hidden-xs">
    @{Html.RenderPartial("_PartialAdvancedSearch", Model.Advnaced_Search);}
</div>
@*End of Advanced Search*@

@*Results*@
<div class=" col-xs-12 col-sm-9">



@if (Model.paged_list_hotels != null && Model.paged_list_hotels.Count > 0)
{

    <!--Sort Buttons-->
    <div class="col-xs-12 nopadding">
        @{Html.RenderPartial("_PartialSortSearchResult");}
    </div>
    <!--Sort Buttons-->

    <div id="table_container" class="col-xs-12 nopadding">
        @{Html.RenderPartial("_PartialHotelListResults", Model.paged_list_hotels);}
    </div>
}    
    else
    {
    <div class="col-xs-12" style="margin-top:2%">
        <div class="well well-sm well_noResult">
            No Results Found.
        </div>
    </div>
    }
</div>
@*END Results*@



