@model HotelAdvice.ViewModels.HomeViewModel
@{
    ViewBag.Title = "About";
    Layout = null;
}

<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/StarRating/star-rating.min.js"></script>
    <link href="~/Content/StarRating/star-rating.min.css" rel="stylesheet" />
    <link href="~/Content/StarRating/theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/StarRating/theme.min.js"></script>
</head>
<body >
    
    <input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="1" showCaption="false">
    <input id="input-1-ltr-star-xs" name="input-1-ltr-star-xs" class="kv-ltr-theme-fa-star rating-loading" data-step="1" value="1" dir="ltr" data-size="xs">
    <input type="button" id="btn" />
</body>
</html>

<script type="text/javascript">
    $("#input-1").rating({
        'size': 'lg',
        'showClear': false
    , 'showCaption':false
    });

    $('.kv-ltr-theme-fa-star').rating({
        hoverOnClear: false,
        theme: 'krajee-fa'
        , 'showClear': false
    , 'showCaption': false
    });

    $("#btn").on('click', function () {
        alert($("#input-1").val());
    });
</script>





