@using PagedList
@model IPagedList<HotelAdvice.Areas.Admin.ViewModels.AmenityViewModel>
@{
    ViewBag.Title = "Amenity Management";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="col-xs-12">Amenity List</h2>

<div class="col-xs-12">
    <div class="alert alert-success" role="alert" id="div_alert" style="display:none;">
        <a href="#" id="close_alert" class="close">&times;</a>
        <label id="alert_success" style="margin-right:5px"></label>
    </div>
</div>

<div class="col-sm-6 col-xs-12 top-buffer20 ">
    <div id="table_container">
        @Html.Partial("_PartialAmenityList", Model)
    </div>
</div>
    <div class="col-sm-6 col-xs-12 top-buffer20">

    @using (Ajax.BeginForm("ADD_New_Amenity", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "table_container",
        InsertionMode = InsertionMode.Replace
        ,
        OnSuccess = "Success_AjaxReturn"
    }))
    {

        <div class="col-xs-12">
            <input type="hidden" id="amenity_id" name="amenity_id" />

            <div class="input-group">
                <input type="text" id="amenity_name" name="amenity_name" class="form-control" placeholder="Amenity Name" />

                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" style="width:90px" ><span class="glyphicon glyphicon-plus"></span> Add</button>
                </span>
            </div>
        </div>
    }

    @using (Ajax.BeginForm("Index", new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "table_container",
        InsertionMode = InsertionMode.Replace
    }))
    {

        <div class="col-xs-12  top-buffer20">
            <div class="input-group">
                <input type="text" id="filter" name="filter" class="form-control" placeholder="Filter Amenities..." value="@ViewBag.filter" />

                <span class="input-group-btn">
                    <button class="btn btn-primary btn-responsive" type="submit" ><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div>
        </div>
    }

</div>



    <div id="MyModal"></div>
